<div class="container py-16 lg:py-24">
    {{ partial:partials/set_header :href="link" center="true" }}
    
    <div class="grid gap-6 lg:grid-cols-2 xl:grid-cols-3">
        {{ if selected_communities }}
            {{ selected_communities }}
                {{ partial:communities/partials/small_card }}
            {{ /selected_communities }}
        {{ else }}
            {{ communities:top limit="3" }}
                {{ partial:communities/partials/small_card 
                    community_url="{{ community_url }}"
                    title="{{ title }}"
                    import_key="{{ import_key }}"
                    slug="{{ slug }}"
                    count="{{ count }}"
                    total_text="{{ total_text }}"
                    :featured_image="featured_image" }}
            {{ /communities:top }}
        {{ /if }}
    </div>
</div>
