<div id="menu" class="absolute top-5 left-3">
    <label for="light-v10"
        class="text-sm py-2.5 px-4 bg-white border border-brand-200 rounded-bl-lg rounded-tl-lg cursor-pointer font-bold text-dark-950">
        {{ 'Map' | trans }}
    </label>
    <input id="light-v10" type="radio" name="rtoggle" value="light" class="hidden peer">
    <label for="satellite-streets-v12"
        class="text-sm py-2.5 px-4 bg-white border border-brand-200  rounded-br-lg rounded-tr-lg cursor-pointer font-bold text-dark-950">
        {{ 'Satellite' | trans }}
    </label>
    <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" class="hidden peer">
</div>