<div
    class="p-5 mt-12 w-full border rounded-2xl bg-white {{ variant == 'hero_section_1' ? 'border-dark-950' : 'border-dark-200' }}">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">

        {{ partial:components/inputs/select name="location" style="secondary" label="Location" }}
            <option value="{{ get:location }}" disabled selected hidden>
                {{ get:location ?? 'Location' }}
            </option>
            {{ collection:cities }}
                <option value="{{ slug }}" {{ {get:location | contains:slug} ?= 'selected' }}>
                    {{ title }}
                </option>
            {{ /collection:cities }}
        {{ /partial:components/inputs/select }}

        <div>
            {{ partial:components/inputs/text style="secondary" label="Min Price" placeholder="0" name="min_price" }}
        </div>
        <div>
            {{ partial:components/inputs/text style="secondary" label="Max Price" placeholder="0" name="max_price" }}
        </div>

        <x-button type="submit" variant="primary" class="w-full xl:w-auto">Browse</x-button>
    </div>
</div>