<div
    class="p-5 mt-12 w-full border rounded-2xl bg-white {{ variant == 'hero_section_1' ? 'border-dark-950' : 'border-dark-200' }}">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">

        {{ partial:components/inputs/select name="community" style="secondary" label="Community" }}
            <option value="{{ get:community }}" disabled selected hidden>
                {{ get:community ?? 'Select' }}
            </option>
            {{ property_filter_options:communities }}
                <option value="{{ value }}" {{ get:community == value ?= 'selected' }}>
                    {{ label }}
                </option>
            {{ /property_filter_options:communities }}
        {{ /partial:components/inputs/select }}

        <div>
            {{ partial:components/inputs/text style="secondary" label="Min Price" placeholder="0" name="min_price" }}
        </div>
        <div>
            {{ partial:components/inputs/text style="secondary" label="Max Price" placeholder="0" name="max_price" }}
        </div>

        <x-button type="submit" variant="primary" class="w-full xl:w-auto">Browse</x-button>
    </div>
</div>
