@import "tailwindcss";
@import "./plugins.css";
@import "./fonts.css";
@import "./splide.css";
@import "./mapbox.css";
@import "@splidejs/splide/css" layer(utilities);
@source "../views";
@source "../../content";

@theme {
    --font-heading: "Satoshi", font-serif;
    --font-body: "Cabinet Grotesk", font-serif;
    --font-sans: "Boska", font-serif;

    --color-brand-100: #fbf7eb;
    --color-brand-200: #f2e8cf;
    --color-brand-300: #e6d6a8;
    --color-brand-400: #dcc384;
    --color-brand-500: #c5ac62;
    --color-brand-600: #b4994f;
    --color-brand-700: #9d813f;
    --color-brand-800: #7c6530;
    --color-brand-900: #5a4922;
    --color-brand-950: #3e3115;

    --color-dark-90: #f5f5f7;
    --color-dark-100: #e6e6e8;
    --color-dark-200: #cfcfd3;
    --color-dark-300: #b6b6bd;
    --color-dark-400: #9e9ea7;
    --color-dark-500: #85858f;
    --color-dark-600: #6c6c77;
    --color-dark-700: #53535e;
    --color-dark-800: #3b3b43;
    --color-dark-900: #1f1f23;
    --color-dark-950: #18181a;

    --color-orange-950: #c0842c;

    --shadow-card: 0px 4px 36px 0px rgba(213, 192, 135, 0.25);
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width >=--theme(--breakpoint-sm)) {
        max-width: none;
    }

    @variant sm {
        max-width: 640px;
    }

    @variant md {
        max-width: 768px;
    }

    @variant lg {
        max-width: 1024px;
    }

    @variant xl {
        max-width: 1280px;
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    [x-cloak] {
        display: none !important;
    }
}

.select-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}

select.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}
