<div class="relative w-full overflow-hidden">
    <div class="absolute inset-0">
        {{ partial:components/picture :image="featured_image" cover="true" sizes="(min-width: 768px) 35vw, 80vw" }}
        <div class="absolute top-0 w-full h-full bg-white/70 mix-blend-lighten"></div>
    </div>

    <div class="container relative z-20 py-14 md:py-12">
        <x-heading size="2">
            {{ title }}
        </x-heading>

        <x-text color="light" class="mt-3">
            {{ total_properties :city="id" }}
        </x-text>
    </div>
</div>