<x-card ring="gray" as="a" direction="vertical" :href="url" :aria-label="title"
    class="{ variant === 'cities_section_3' ?= 'relative overflow-hidden h-[515px]' } p-0">

    {{ if variant === 'cities_section_3' }}
        <div class="absolute z-20 w-full h-full bg-linear-to-b from-transparent to-black"></div>
    {{ /if }}

    <div class="{{ variant === "cities_section_2" ? 'rounded-t-2xl overflow-hidden h-[350px]' : 'h-full' }}">
        {{ partial:components/picture :image="featured_image" cover="true" }}
    </div>

    <div class="{{ variant === 'cities_section_2' ? 'p-6 gap-y-2' : 'absolute bottom-8 left-6 z-40' }}">
        <x-heading size="5" class="mb-2" color="{ variant == 'cities_section_2' ? 'gray' : 'white' }">
            {{ title }} 
        </x-heading>

        <div class="flex items-start gap-x-2">
            {{ svg src="house" class="w-6 h-6 shrink-0 { variant === 'cities_section_2' ? 'stroke-brand-950' : 'stroke-white' }" }}
            <x-text size="lg" color="{ variant == 'cities_section_2' ? 'dark' : 'white' }">
                {{ total_properties :city="id" }}
            </x-text>
        </div>
    </div>
</x-card>
