<div x-data="{ open: true }" x-id="['filter-button']">

    {{ partial:components/search }}
    {{# Button #}}
    <x-button x-ref="button" x-on:click="open = !open" :aria-expanded="open" :aria-controls="$id('filter-button')"
        type="button" variant="outline"
        x-bind:class="open ? 'p-6 rounded-b-none rounded-t-2xl focus:outline-hidden ring-0!' : 'rounded-2xl'"
        class="w-full p-4 mt-6 bg-dark-90 lg:p-6">
        <div class="flex items-center justify-center gap-x-2">
            {{ svg src="candle" class="w-6 h-6 fill-current text-brand-800 stroke-brand-800 shrink-0" }}
            <x-text color="brand" weight="700" size="lg" font="heading" x-text="open ? 'Close' : 'Filter'"></x-text>
        </div>
    </x-button>


    {{# Panel #}}
    <div x-cloak x-ref="panel" x-cloak x-show="open" x-transition.origin.top.left :id="$id('filter-button')"
        style="display: none;" class="w-full px-6 pb-6 bg-dark-90"
        x-bind:class="open ? 'rounded-b-2xl' : 'rounded-2xl'">
        <form x-ref="filter_form" action="{{ current_url }}">
            {{# Inputs #}}
            <div x-cloak x-show="open">
                <div class="mb-4">
                    <div x-data="{ status: new URLSearchParams(location.search).get('status') }"
                        class="flex items-center justify-between w-auto mb-4 gap-x-2 shrink-0 rounded-2xl">
                        <x-button type="button" variant="outline"
                            x-on:click="status = status === 'sale' ? null : 'sale'; $nextTick(() => $refs.filter_form.submit())"
                            :class="status === 'sale' ? 'bg-brand-200 text-brand-950 ring-2 ring-brand-950' : ''"
                            class="flex-1 text-lg ring-0 hover:ring-2 shrink-0">
                            For Sale
                        </x-button>
                        <x-button type="button" variant="outline"
                            x-on:click="status = status === 'rent' ? null : 'rent'; $nextTick(() => $refs.filter_form.submit())"
                            :class="status === 'rent' ? 'bg-brand-200 text-brand-950 ring-2 ring-brand-950' : ''"
                            class="flex-1 text-lg ring-0 hover:ring-2 shrink-0">
                            For Rent
                        </x-button>

                        <input type="hidden" x-ref="statusInput" x-bind:name="status ? 'status' : null" x-bind:value="status ?? ''">
                    </div>

                    <div class="flex w-full py-4 mx-auto gap-y-4 flex-col rounded-2xl">

                        {{ partial:components/inputs/text placeholder="Min Price" name="min_price" :value="get:min_price" style="primary" onInput="$refs.filter_form.submit()" }}
                        {{ partial:components/inputs/text placeholder="Max Price" name="max_price" :value="get:max_price" style="primary" onInput="$refs.filter_form.submit()" }}
                        {{ partial:components/inputs/select name="community" onChange="$refs.filter_form.submit()" }}
                            <option value="" disabled {{ unless get:community }}selected{{ /unless }} hidden>
                                {{ get:community ?? 'Community' }}
                            </option>
                            {{ property_filter_options:communities }}
                                <option value="{{ value }}" {{ get:community == value ?= 'selected' }}>
                                    {{ label }}
                                </option>
                            {{ /property_filter_options:communities }}
                        {{ /partial:components/inputs/select }}

                        {{ partial:components/inputs/select name="bedrooms" onChange="$refs.filter_form.submit()" }}
                            <option value="" disabled {{ unless get:bedrooms }}selected{{ /unless }} hidden>
                                {{ get:bedrooms ?? 'Bedrooms' }}
                            </option>
                            {{ property_filter_options:bedrooms }}
                                <option value="{{ value }}" {{ get:bedrooms == value ?= 'selected' }}>
                                    {{ label }}
                                </option>
                            {{ /property_filter_options:bedrooms }}
                        {{ /partial:components/inputs/select }}

                        {{ partial:components/inputs/select name="bathrooms" onChange="$refs.filter_form.submit()" }}
                            <option value="" disabled {{ unless get:bathrooms }}selected{{ /unless }} hidden>
                                {{ get:bathrooms ?? 'Bathrooms' }}
                            </option>
                            {{ property_filter_options:bathrooms }}
                                <option value="{{ value }}" {{ get:bathrooms == value ?= 'selected' }}>
                                    {{ label }}
                                </option>
                            {{ /property_filter_options:bathrooms }}
                        {{ /partial:components/inputs/select }}

                        {{ partial:components/inputs/select name="floor_area" onChange="$refs.filter_form.submit()" }}
                            <option value="" disabled {{ unless get:floor_area }}selected{{ /unless }} hidden>
                                {{ get:floor_area ?? 'Floor Area' }}
                            </option>
                            {{ property_filter_options:floor_area }}
                                <option value="{{ value }}" {{ get:floor_area == value ?= 'selected' }}>
                                    {{ label }} {{ theme:unit_of_measurement }}
                                </option>
                            {{ /property_filter_options:floor_area }}
                        {{ /partial:components/inputs/select }}
                    </div>
                </div>
                {{ if current_template !== 'categories.show' }}
                    <x-text weight="500" color="dark">Based on category</x-text>
                    <div class="flex flex-wrap">
                        {{ property_filter_options:categories }}
                            <label class="p-2 mt-4 mr-4 font-medium border rounded-lg text-dark-950 border-dark-100">
                                <input type="checkbox" x-on:change="$refs.filter_form.submit()"
                                    {{ {get:categories | contains:value} ?= 'checked' }}
                                    class="w-4 h-4 mr-2 border-black rounded-sm text-dark-950 focus:bg-dark-950 checked:fill-dark-950 focus:ring-dark-950"
                                    name="categories[]" value="{{ value }}" id="category-mobile-{{ value }}">
                                {{ label }}
                            </label>
                        {{ /property_filter_options:categories }}
                    </div>
                {{ /if }}
        </form>
    </div>
</div>
