<x-card ring="gray" as="a" direction="vertical" 
    href="{{ community_url ?? (import_key ? '/properties?community=' ~ (import_key | url_encode) : (slug ? '/properties?community=' ~ (slug | url_encode) : '/properties')) }}" 
    aria-label="{{ title }}"
    class="{ variant === 'communities_section_3' ?= 'relative overflow-hidden h-[515px]' } p-0">

    {{ if variant === 'communities_section_3' }}
        <div class="absolute z-20 w-full h-full bg-linear-to-b from-transparent to-black"></div>
    {{ /if }}

    <div class="{{ variant === "communities_section_2" ? 'rounded-t-2xl overflow-hidden h-[350px]' : 'h-full' }}">
        {{ if featured_image }}
            {{ partial:components/picture :image="featured_image" :fallback_url="featured_image" cover="true" }}
        {{ /if }}
    </div>

    <div class="{{ variant === 'communities_section_2' ? 'p-6 gap-y-2' : 'absolute bottom-8 left-6 z-40' }}">
        {{ if title }}
            <x-heading size="5" class="mb-2" color="{ variant == 'communities_section_2' ? 'gray' : 'white' }">
                {{ title }} 
            </x-heading>
        {{ /if }}

        <div class="flex items-start gap-x-2">
            {{ svg src="house" class="w-6 h-6 shrink-0 { variant === 'communities_section_2' ? 'stroke-brand-950' : 'stroke-white' }" }}
            <x-text size="lg" color="{ variant == 'communities_section_2' ? 'dark' : 'white' }">
                {{ if total_text }}
                {{ total_text }}
            {{ elseif import_key }}
                {{ total_properties :community="import_key" }}
            {{ elseif slug }}
                {{ total_properties :community="slug" }}
            {{ elseif title }}
                {{ total_properties :community="title" }}
            {{ /if }}
            </x-text>
        </div>
    </div>
</x-card>
