{{ if community_url }}
<x-card ring="gray" as="a" href="{{ community_url }}" aria-label="{{ title }}" class="justify-start">
{{ elseif import_key }}
<x-card ring="gray" as="a" href="/properties?community={{ import_key | url_encode }}" aria-label="{{ title }}" class="justify-start">
{{ elseif slug }}
<x-card ring="gray" as="a" href="/properties?community={{ slug | url_encode }}" aria-label="{{ title }}" class="justify-start">
{{ else }}
<x-card ring="gray" as="a" href="/properties" aria-label="{{ title }}" class="justify-start">
{{ /if }}
    <div class="w-16 h-16 mr-4 overflow-hidden shrink-0 rounded-2xl">
        {{ if featured_image }}
            {{ partial:components/picture :image="featured_image" :fallback_url="featured_image" cover="true" }}
        {{ /if }}
    </div>
    <div>
        <x-heading size="5" class="mb-1">{{ title | truncate(22, '...') }}</x-heading>
        <div class="flex items-center gap-x-2">
            {{ svg src="house" class="w-6 h-6 stroke-brand-950 shrink-0" }}
            <x-text color="dark" size="lg" class="mt-0.5">
                {{ if total_text }}
                    {{ total_text }}
                {{ elseif import_key }}
                    {{ total_properties :community="import_key" }}
                {{ elseif slug }}
                    {{ total_properties :community="slug" }}
                {{ elseif title }}
                    {{ total_properties :community="title" }}
                {{ /if }}
            </x-text>
        </div>
    </div>
</x-card>
