<x-card ring="gray" as="a" 
    href="{{ community_url ? community_url : (import_key ? ('/properties?community=' ~ (import_key | url_encode)) : (slug ? ('/properties?community=' ~ (slug | url_encode)) : '/properties')) }}" 
    aria-label="{{ title }}" class="justify-start">
    <div class="w-16 h-16 mr-4 overflow-hidden shrink-0 rounded-2xl">
        {{ if featured_image }}
            {{ partial:components/picture :image="featured_image" :fallback_url="featured_image" cover="true" }}
        {{ /if }}
    </div>
    <div>
        <x-heading size="5" class="mb-1">{{ title | truncate(22, '...') }}</x-heading>
        <div class="flex items-center gap-x-2">
            {{ svg src="house" class="w-6 h-6 stroke-brand-950 shrink-0" }}
            <x-text color="dark" size="lg" class="mt-0.5">
                {{ if total_text }}
                    {{ total_text }}
                {{ elseif import_key }}
                    {{ total_properties :community="import_key" }}
                {{ elseif slug }}
                    {{ total_properties :community="slug" }}
                {{ elseif title }}
                    {{ total_properties :community="title" }}
                {{ /if }}
            </x-text>
        </div>
    </div>
</x-card>
